{% block content %}
{% load static %}
<br>
<br>
<div class="row" id="instruction">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" style="text-align: center;">
    <h3>Receive IOST tokens just by voting for IOST Russia!</h3>
    <p class="lead" style="margin-bottom: 20px;">How to receive IOST tokens if you have some IOST tokens on the Cryptocurrency Exchange, e.g. Binance? </p>
    <hr style="margin: 40px 0;">
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" style="text-align: left;">
    <p>1. Sing up on the <a href="https://iost.biss.com/#/register">voting portal</a>  and
       Login in (<a href="https://www.biss.com/#/userHome">here</a> you can add more Security Settings)</p>
    <p>2. Go to <a href="https://iost.biss.com/#/account">your account</a> and get
      Ethereum address to deposit IOST tokens for voting porposes.</p>
    <p>3. You can directly withdraw tokens from Binance to the address you got by the link above
       (this is less secure and less fees method).</p>
    <p>4. Or you can withdraw tokens to your Ethereum address (if you have one, don't forget
       that you should have some ether on it to pay network fees for transfering tokens) and
        then send tokens to the address from p.2.If you haven't Ethereum address, you can use
        third-party services to generate Ethereum address and deposit some ether to it., e.g. <a href="https://metamask.io/">MetaMask</a> or <a href="https://www.myetherwallet.com/">MyEtherWallet</a> (more secure and more fees method)</p>
    <p>5. After waiting for 30 network confirmations and depositing IOST tokens
      to the <a href="https://iost.biss.com/#/account"> IOST BISS Account</a> go to <a href="https://iost.biss.com/#/vote"> vote page</a> and press the Vote button oposite IOST Russia, enter Votes Amount and click Vote.</p>
  </div>
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12" style="text-align: center;">
    <h5>After finished this procedure and launch IOST Mainnet you will get Voting Dividents and Automatic Token Swap.</h5>
    <p class="lead" style="margin-bottom: 20px;">For more information and proofs you can visit this <a href="https://medium.com/iost/iost-voter-guide-why-you-should-vote-for-nodes-ef47c7e3303b"> medium post</a>.</p>
    <hr style="margin: 40px 0;">
  </div>
</div>

{% endblock %}
